        <div class="nav-wrapper">
          <a href="{{ '/' | prepend: site.baseurl }}" class="brand-logo">{{ site.title }}</a>
          <a href="#" data-activates="mobile-navbar" class="button-collapse"><i class="mdi mdi-menu white-text"></i></a>
          <ul id="desktop-navbar" class="right hide-on-med-and-down">
            <li><a href="{{ '/feed.xml' | prepend: site.baseurl }}" class="white-text">
              RSS
            </a></li>
          </ul>
          <ul id="mobile-navbar" class="side-nav">
            <li><a href="{{ '/feed.xml' | prepend: site.baseurl }}" class="waves-effect waves-teal black-text">
              RSS
            </a></li>
          </ul>
        </div>
